ACCESS_KEY=XX # in case external S3 is used
SECRET_KEY=XXXX # in case external S3 is used
DD_TOKEN_SECRET=""
DD_URL_PLACEHOLDER="http://192.168.2.181:8081/"
DD_USER_PLACEHOLDER="cluster-image-scanner-test"
DD_TEST_TOKEN_SECRET=""
DD_TEST_URL_PLACEHOLDER="http://192.168.2.181:8081/"
DD_TEST_USER_PLACEHOLDER="cluster-image-scanner-test"
DOCKER_SECRET=
QUAY_SECRET=
IS_MINIKUBE=true
SLACK_CLI_TOKEN_SECRET=""
GH_APP_ID=
GH_APP_LOGIN=
GH_INSTALLATION_ID=
GH_PRIVATE_KEY_BASE64=""
DEPSCAN_DB_DRIVER_PLACEHOLDER="org.postgresql.Driver"
DEPSCAN_DB_USERNAME_PLACEHOLDER=owaspreader
DEPSCAN_DB_PASSWORD_PLACEHOLDER="XXX"
DEPSCAN_DB_CONNECTSRING_PLACEHOLDER="XXX"
smtp_SECRET=XXXX
smtp_auth_SECRET=
smtp_auth_user_SECRET=clusterscanner
smtp_auth_password_SECRET=
DEPENDENCY_TRACK_URL_PLACEHOLDER="http://192.168.2.181:8071"
DEPENDENCY_TRACK_KEY_PLACEHOLDER="" # Administration -> Teams
DOCKER_USER=
DOCKER_SECRET=""
GIT_COLLECTOR_REPOSITORY=github.com/pagel-pro/cluster-image-scanner-test-targets.git
GIT_SOURCE_REPOSITORY="https://api.github.com/repos/pagel-pro/cluster-image-scanner-test-targets/tarball"
