credentials:
  apikey: "x"
  signature: "x"

defectdojo:
  lead: "3"
  user: "cluster-image-scanner"
  url: "http://192.168.178.23:8085/"
  token: "" # asd123asdASD12,3

dependencytrack:
  url: "http://192.168.178.23:8081"
  key: "" # Administration -> Teams

github:
  appId: ""
  appLogin: ""
  installationId: ""
  privateKeyPem: ""

registry:
  authJson: ""

slack:
  cliToken: ""

smtp:    
  smtp: ""
  auth: ""
  user: ""
  password: ""
  starttls: ""
